<nav>
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">Development</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/single-player/development-playground">
        Playground
      </button>
    </mat-menu>

    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>

<router-outlet></router-outlet>
